{% extends 'shop/layouts/main.html' %}

{% block title %}
shopkart| Regsiter page
{% endblock title %}

{% block content %}



  
    <section class="py-5 text-center container" style="margin-top: 70px;">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Bestsellers</h1>
            <p class="lead text-muted">our most popular product based on sales. updated hourly</p>
            <p>
                <a href="" class="btn btn-primary my-2">Already User</a>
                <a href="" class="btn btn-secondary my-2">Register</a>
            </p>

        </div>

    </section>

    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">Categories</div>
                    <hr style="border-color: rgb(233, 224, 224);">
                    {% include 'shop/inc/message.html' %}
                </div>
                {% for item in catagory %} 
                <div class="col-md-4 col-lg-3">
                    <div class="card my-3">
                        <img src={{item.image.url}} class="card-img-top" alt="Categories" >
                        <a href="{% url 'collections' item.name %}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                         
                        </div>
                    </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
   


{% endblock content %}